@using Microsoft.Extensions.Localization
@using Volo.Abp.VirtualFileExplorer.Blazor.Localization

@inject IStringLocalizer<VirtualFileExplorerResource> L

@if (FileInfo.IsDirectory)
{
    <Button Block="true"
            Color="@Color.Default"
            Clicked="@FolderClickedAsync">
        <Span TextAlignment="TextAlignment.Start" Class="btn-block">
            @if (!string.IsNullOrEmpty(FileInfo.Icon))
            {
                <Icon Name="@FileInfo.Icon" Class="me-1" />
            }
            @FileInfo.FileName
        </Span>
    </Button>
}
@if (!FileInfo.IsDirectory)
{
    <Button Block="true"
            Color="@Color.Default"
            Clicked="@FileClickedAsync">
        <Span TextAlignment="TextAlignment.Start" Class="btn-block">
            @if (!string.IsNullOrEmpty(FileInfo.Icon))
            {
                <Icon Name="@FileInfo.Icon" Class="me-1" />
            }
            @FileInfo.FilePath
        </Span>
    </Button>
}
<FileContentModal @ref="FileContentModal" />